.comments_container {
  margin:auto;
  align-items: center;
  padding-left: 0;
  max-width: 720px;
}

.comment-form-container{
  margin: auto;
  width: 90%;
}

.reload{
  margin: auto;
  width: 150px;
}

.reload-input{
  background-color: #cdd3ce;
  cursor: pointer;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(15, 13, 13); 
  font-size: 12px;
  border-radius: .50rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post { 
  background-color: rgb(238, 238, 238);
  color: #444;
  margin: 0 auto;
  padding: 8px;
  max-width: 720px;
  width: 90%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(252, 247, 247);
  text-align: left;
  font-size: 10px;
}

.comments { 
  background-color: white;
  color: #444;
  padding: 8px;
  width: 100%;
  height: auto;
  text-align: left;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
  border-radius: .6rem;
  overflow-wrap: break-word;
 
}

.x-delete{
  float: right;
  width: 16px;
  cursor: pointer;
}