.work_order_button {
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 150px;
    border-width: 3px;
    border-style: solid;
    border-color:  #777;
    text-align: center;
    font-size: 12px;
    border-radius: .25rem;
  }

  .inactive_color {
    background-color: #777
  }
  
  .active_color {
    background-color: #0d6efd;
  }

  .work_order_container {
    padding: 2px 16px;
    background-color: #eee;
    align-items: center;
    width: 80%;
  }

  .open-close-workorders{
    margin-top: 2rem;
  }

.inventory{
  background-color: rgb(238, 238, 238);
  color:darkred;
}
@media screen and (max-width: 700px) {
  .tasks-receipts{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .expire {
    background-color: rgb(249, 125, 125);
  }
  .closed {
    background-color: rgb(167, 244, 167)
  }
  .pending {
    background-color: rgb(245, 216, 164);
  }
  .work_order_status {
    display: none;
  }
}

@media screen and (max-width: 361px) {
  .work_order_address {
    display: none;
  }
}