
.center { 
   text-align: center;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notifications{
  color: black;
  text-align: center;
  width: 100%;
  height: 27px;
  background-color: #f1cc81;
  text-decoration: none;
}

.pending-work-orders{
  color: black;
  width: 100%;
  height: 27px;
  background-color: #f1cc81;
  text-decoration: none;
}

.text{
  text-align: center;
  color: #444;
  padding: 50px;
  width: 100%;
  font-size: 16px;
}

.search_box { 
  width: 50%;
  min-height: 40px;
  border-width: 1px;
  border-style: solid;
  border-color:  #777;
  border-radius: .8rem;
  font-size: 20px;
}


.name {
  display: inline;
  margin-left: 5%;
}

.delete-task {
  padding-left: 15px;
  
}


.files-input{
  cursor: pointer;
  padding: 0px;
  width: 50%;
  border-width: 2px;
  border-color: rgb(15, 13, 13); 
  margin-left: 15px; 
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: .220rem;
}

.submit-image{
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 40px;
  width: 110px;
  border-width: 5px;
  border-style: solid;
  margin-top: 3%;
  border-radius: .220rem;
}
.edit-receipt-form{
  border-width: 5px;
  margin-left: 3%; 
  margin-top: 3%;
}

.edit-receipt-inputs{
    font-size: 16px;
    height: 30px;
    width: 30%;
    border-width: 2px;
    border-style: solid;
    margin-top: 3%;
    border-radius: .220rem;
}
  


.receipt{
  max-width: 500px;
  color: rgb(10, 9, 9);
  padding: 0px;
  margin-bottom: 10px; 
  border-radius: .220rem;
  box-shadow: 3px 5px 5px 2px #d3d2d0;
  
}

.diplay-images{
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 0px;
}

.delete-receipt{
  color: rgb(10, 9, 9);
  cursor: pointer;
  padding: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(15, 13, 13); 
  margin-left: 3%; 
  font-size: 18px;
  margin-bottom: 10px; 
  border-radius: .220rem;
}

.picc-enlarger { 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  cursor: pointer;
  padding: 0px;
  width: 90%;
  max-width: 700px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(15, 13, 13); 

}

.task-price-input{
  width: 25%;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
  margin-left: 2px;
  border-color:  #777;
  border-style: solid;
  border-width: 2px;
  min-height: 30px;
  max-height: 30px;
  resize: none;

  /* border-color:  white; */
  /* border-radius: .8rem; */
  /* box-shadow: 1px 1px 3px 0px rgb(176, 173, 173) */
}

.auto_height_for_task-textarea { 
  max-width: 30rem; 
  width: 70%;
  min-height: 30px;
  border-width: 3px;
  border-style: solid;
  border-color:  #777;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
  font-size: 16px;
  max-height: 30px;
  resize: none;
}

.create-task-form{
  width: 100%;
  align-items: center;
  align-content: center;

}
.comment-text-area{
  height: 1px;
  font-size: 16px;
}

.comment-subject-input{
  margin-top: 2.5%;
  margin-bottom: 10px;
}

.profile_image{ 
  cursor: pointer;
  padding: 0px;
  width: 60px;
  height: 60px;
  border-style: solid;
  margin-left: 2px; 
}


.receipt_user_image{
  cursor: pointer;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-style: solid;
  margin-left: 9px; 
}



.profile-name{
  color: black;
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 0px
}

.receipt-description{
  color: black;
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 0px
}


.employee_card_image{
  cursor: pointer;
  padding: 0px;
  width: 60px;
  height: 60px;
  border-style: solid;
  margin-left: 15px; 
  border-radius: .5rem;
}

.edit-form{
  cursor: pointer;
  padding: 0px;
  margin-left: 15px; 
}

.edit-inputs{
  cursor: pointer;
  padding: 0px;
  width: 75%;
  max-width: 500px;
  border-width: 2px;
  border-style: solid;
  border-color:  #777;
  text-align:calc(5px);
  font-size: 18px;
  border-top-left-radius: .500rem;
  border-bottom-left-radius: .500rem;
}

.edit-button{
  background-color: #0d6efd;;
  color: rgb(241, 236, 236);
  cursor: pointer;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  border-color:  #777;
  text-align: center;
  font-size: 18px;
  border-top-right-radius: .500rem;
  border-bottom-right-radius: .500rem;
}

.login-error {
  color: red
}

.signup-errors{
  color: red
}

.uploading{
  margin-left: 15px;
  background-color: #0d6efd;
  color: rgb(241, 236, 236);
}




.create-form{
  background-color:#eee;
  position:absolute;
  padding: 0px;
  margin-top: 1rem;
  margin-left: 15px; 
  box-shadow: 5px 5px 5px 5px #d3d2d0;
  width: 90%;
  max-width: 500px;
  border-radius: .5rem;
}

.create-input{
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0px;
  width: 90%;
  max-width: 500px;
  border-width: 2px;
  border-style: solid;
  border-color:  #777;
  text-align:calc(5px);
  font-size: 18px;
  border-radius: .500rem;
}

.create-button{
  background-color: #0d6efd;;
  color: rgb(241, 236, 236);
  cursor: pointer;
  width: 150px;
  border-width: 1px;
  border-style: solid;
  border-color:  #777;
  text-align: center;
  font-size: 18px;
  border-radius: .500rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}


.errors{
  margin-left: 1rem;
  color: red;
}

.add-unit{
  padding: 0;
  width: 75%;
  max-width: 10rem;
  border-width: 2px;
  border-style: solid;
  border-color:  #777;
  text-align:calc(5px);
  font-size: 18px;
  border-radius: .5rem;
  margin-top: .5rem;
  display: block;
  margin: auto ;
}

.unit-form{ 
  margin-top: 2rem;
  margin-bottom: 5px;
  padding: 0px;
  margin-left: 15px; 
} 

.building-warning{
  margin-left: 15px;
  color: red;
}
.unit-creater{
  border-width: 2px;
  height: 3rem;

}


.white-blue-buttons{
  list-style-type:none;
  color: black;
  margin:1rem;
  text-decoration: none;
  width: 10rem;
  height: 2rem;
  justify-content: center;
  padding: 2px;
  background-color: white;
  border-radius: .2rem;
  border-width: 1px;
  border-style: solid;
  transition: .4s;
  border-color: black;
  text-align: center;
  
}

.white-blue-buttons:hover{
  opacity: 1;
  color: white;
  background-color: #263e57;
}

.text-font{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;;
}

.empty-space{
height: 20rem;
}


.content-container {
  overflow:hidden;
}

.workorder-content{
  overflow:auto ;
}

.login-section{
  padding-top: 2rem;
  width: 70%;
  margin: auto;
  border-radius: .5rem;
}

.personal-account-form{
  margin: auto;
  box-shadow: 5px 5px 5px 0px #d3d2d0;
  width: 90%;
  max-width: 500px;
  border-radius: .5;

}
.try-it-container{
  display: flex; 
}

.try-it{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.login-messages{
  height: 4rem;
}

.login-message-button{
  width: 100%;
  max-width: 500px;
  background-color: #eee;
  border-width: 3px;
  padding: 1px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(252,247,247);
  box-shadow: 5px 5px 5px 0px #d3d2d0;
  transition: 0.4s; 
}

.login-message-button:hover {
  background-color: rgb(186, 181, 181);
} 

.login-a-color{
  max-width: 350px;
  margin: auto;
  transition: 0.4s; 
}

.login-a-color:hover{
  background-color: #eee;
}

.get-new-code{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer{
  margin-top: 3rem;
  display: flex;
  /* background-color: #263e57; */
  width: 100%;
  height: 300px;
}

.body{
  background-color:whitesmoke;
}

.form-control{
  margin-bottom: 1rem;
}

.links{
  list-style: none;
  /* text-decoration: none; */
}


/* .form{
  align-items: center;
} */
/* .double-back-angle{
  width: 20px;
  margin-right: 15px;
} */

.form-wrapper{
  position: absolute;
  width: 100%;
  height: 100vh;
  /* margin-top: 1rem; */
  /* z-index: 10; */
  /* background-color: rgba(40, 38, 23, 0.4) */
}

.comment-form-container{
  margin: auto;
  width: 90%;
}

.display-none{
  display: none;
}

.hight{
  height: 40px;
}

.x-delete-container{
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;

}

.x-delete-img{
  border-radius: .5rem;
  cursor: pointer;
  margin: auto;
  background-color: rgba(40, 38, 23, 0.4);
  opacity: .8;
}

.x-delete-img:hover {
  opacity: 1;
}

.pencil{
  height: 20px;
}

.tenant-card{
  min-height: 250px;
}

.tenant-inf{
  height: 33px;
}

.no-match {
  background-color: orange;
  text-align: center;
  color: red;
}

.violation-search{
  margin-top: 3rem;
}

.search-box{
  height: 40px
}

.question-button{
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  transition: 0.3s;
  /* text-align: center; */
  color: black;
  padding: 0;
}

.question-button:hover{
  background-color: whitesmoke;
}
.question-button:active{
  background-color: #263e57;
  color: white;
}

.tool-tip{
  top: 2.5rem;
  background-color: #eee;
  right: 1rem;
  position: absolute;
  width: 12rem;
  z-index: 20;
  box-shadow: 1px 2px 5px 0px #d3d2d0;
}

.tool-tip p{
  text-align: left;
  margin-left: 1rem;
}
.tool-tip-container{
  position: relative;
  left: 4px;

}

.name-logo{
  width: 60px;
  border-radius: 5rem; 
  position:absolute;
  bottom: -30px
}

.footer-line{
  display: flex;
  background-color: #263e57;
  height: 4px;
  width: 90%;
  margin: auto;
  justify-content: center;
  position: relative;
}